*{padding: 0;
margin: 0;}
body{
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator{
    text-align: center;
    background-color: gray;
    width: 250px;
    height: 300px;
    border-radius: 10px;
}
input{
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 2px;
    width: 58%;
    height: 50px;
    border-radius: 10px;
    border: 0px;
}
button{
    border: 0px;
    font-size: larger;
    background-color: black;
    color: white;
    margin: 2px auto;
    width: 50px;
    height: 50px;
    border-radius: 10px;
}
.operator{
    background-color: orange;
}
.AC{
    background-color: #139489;
    margin-top: 10px;
    margin-bottom: 2px;
}
button:hover{
    box-shadow: rgba(255, 174, 0, 0.99) 0px 3px 8px;
}